
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Victor+Mono:ital,wght@0,100..700;1,100..700&display=swap');
html{
    font-size: clamp(14px, 1.1vw, 22px);
    font-family: Manrope, Arial, sans-serif;
    background-color: #19191C;
}

.hero-title {
    font-family: Victor Mono, Arial, sans-serif;
    font-size: clamp(1.5rem, 3vw, 2.5rem);
    font-weight: 120;
    color: #FFF4F7;
    padding-top: 132px;
    padding-left: 80px;
}

body {
    background-color: #19191C;
    font-family: Victor Mono, Arial, sans-serif;
    font-weight: 90;
  }
  
.hero-subtitle {
    font-size: clamp(0.9rem, 1.8vw, 1.5rem);
    padding-top: 32px;
    padding-left: 80px;
}
  
  .typing {
    color: #FF8CAA;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid #FF8CAA;
    width: 0;
    animation: typing 3s steps(16) forwards;
  }

  @keyframes typing {
    from {
      width: 0;
    }
  
    to {
      width: 34ch;
    }
  }

  .hero-description {
    font-size: 0.9rem;
    color: #D9D9D9;
    padding-top: 48px;
    padding-left: 80px;
    max-width: 550px;
    line-height: 32px;
}

.button {
    display: inline-block;
    padding: 18px 40px;
    background-color: #FF8CAA;
    color: #19191C;
    text-decoration: none;
    border-radius: 12px;
    font-family: Manrope, Arial, sans-serif;
    font-weight: 700;
    transition: background-color 0.3s ease;
    margin-left: 80px;
    margin-top: 48px;
    box-shadow: inset 0 3px 4px rgba(0, 0, 0, 0.4);
  }
  
  .button:hover {
    background-color: #FFCEDA;
  }

  nav {
    display: flex;
    justify-content: flex-start;
    padding: 40px 80px;
  }
  
  .nav-links {
    display: flex;
    gap: 70px;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-links a {
    color: #FFF4F7;
    text-decoration: none;
    font-family: Victor Mono, Arial, sans-serif;
  }
  
  .nav-links a:hover {
    color: #FF8CAA;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 80px;
  }
  
  .nav-links {
    display: flex;
    gap: 70px;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-links a {
    color: #FFF4F7;
    text-decoration: none;
    font-family: Victor Mono, Arial, sans-serif;
  }
  
  .nav-links a:hover{
    color: #FF8CAA;
  }

  .social-links {
    display: flex;
    gap: 50px;
    list-style: none;
    margin-left: 65%;
  }

  .social-icon{
    width: 24px;
    height: 24px;
  }

  .hero-visual {
    position: absolute;
    top: 120px;
    right: 5%;
    width: 45%;
    height: 70vh;
    max-width: 700px;
  }

  .portrait {
    position: absolute;

    width: min(700px, 100%);
    height: auto;

    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);

    z-index: 1;
}

.particles-container{
  position: absolute;
  inset: 0;

  width: 100%;
  height: 100%;

  overflow: hidden;
  pointer-events: none;

  z-index: 2;
}
  
.particles-container span {
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: white;
    animation: float 5s ease-in-out infinite;
  }

  .particles-container span:nth-child(1) {
    left: 5%;
    top: 8%;
  }
  
  .particles-container span:nth-child(2) {
    left: 18%;
    top: 20%;
  }
  
  .particles-container span:nth-child(3) {
    left: 32%;
    top: 10%;
  }
  
  .particles-container span:nth-child(4) {
    left: 47%;
    top: 25%;
  }
  
  .particles-container span:nth-child(5) {
    left: 63%;
    top: 12%;
  }
  
  .particles-container span:nth-child(6) {
    left: 80%;
    top: 30%;
  }
  
  .particles-container span:nth-child(7) {
    left: 92%;
    top: 10%;
  }
  
  .particles-container span:nth-child(8) {
    left: 10%;
    top: 38%;
  }
  
  .particles-container span:nth-child(9) {
    left: 25%;
    top: 48%;
  }
  
  .particles-container span:nth-child(10) {
    left: 42%;
    top: 44%;
  }
  
  .particles-container span:nth-child(11) {
    left: 35%;
    top: 72%;
  }
  
  .particles-container span:nth-child(12) {
    left: 72%;
    top: 45%;
  }
  
  .particles-container span:nth-child(13) {
    left: 88%;
    top: 55%;
  }
  
  .particles-container span:nth-child(14) {
    left: 5%;
    top: 65%;
  }
  
  .particles-container span:nth-child(15) {
    left: 20%;
    top: 75%;
  }
  
  .particles-container span:nth-child(16) {
    left: 35%;
    top: 68%;
  }
  
  .particles-container span:nth-child(17) {
    left: 50%;
    top: 80%;
  }
  
  .particles-container span:nth-child(18) {
    left: 67%;
    top: 70%;
  }
  
  .particles-container span:nth-child(19) {
    left: 82%;
    top: 82%;
  }
  
  .particles-container span:nth-child(20) {
    left: 94%;
    top: 72%;
  }
  
  .particles-container span:nth-child(21) {
    left: 12%;
    top: 78.5%;

 }
  
  .particles-container span:nth-child(22) {
    left: 30%;
    top: 82%;
  }
  
  .particles-container span:nth-child(23) {
    left: 48%;
    top: 60%;
  }
  
  .particles-container span:nth-child(24) {
    left: 75%;
    top: 92%;
  }
  
  .particles-container span:nth-child(25) {
    left: 90%;
    top: 40%;
  }

 .particles-container span:nth-child(26) {
    left: 38%;
    top: 52%;
  }

  .particles-container span:nth-child(27) {
    left: 70%;
    top: 40%;
  }

  .particles-container span:nth-child(28) {
    left: 10%;
    top: 25%;
  }

  .particles-container span:nth-child(29) {
    left: 55%;
    top: 30%;
  }

  .particles-container span:nth-child(30) {
    left: 53%;
    top: 76%;
  }

  .particles-container span:nth-child(31) {
    left: 24%;
    top: 28%;
  }

  .particles-container span:nth-child(32) {
    left: 82%;
    top: 36%;
  }

  .particles-container span:nth-child(33) {
    left: 60%;
    top: 56%;
  }

  .particles-container span:nth-child(34) {
    left: 11%;
    top: 39%;
  }

  .particles-container span:nth-child(35) {
    left: 67%;
    top: 63%;
}

  @keyframes float {
    0% {
      transform: translate(0, 0);
    }
  
    50% {
      transform: translate(30px, -40px);
    }
  
    100% {
      transform: translate(0, 0);
    }
  }
  .particles-container span:nth-child(1) {
    animation-duration: 2.5s;
  }
  
  .particles-container span:nth-child(2) {
    animation-duration: 4s;
  }
  
  .particles-container span:nth-child(3) {
    animation-duration: 5s;
  }
  
  .particles-container span:nth-child(4) {
    animation-duration: 4s;
  }
  
  .particles-container span:nth-child(5) {
    animation-duration: 4.5s;
  }
  .particles-container span:nth-child(6) {
    animation-delay: 1s;
  }
  
  .particles-container span:nth-child(7) {
    animation-delay: 2s;
  }
  
  .particles-container span:nth-child(8) {
    animation-delay: 0.5s;
  }

  .particles-container span:nth-child(9) {
    animation-delay: 0.8s;
  }

  .particles-container span:nth-child(10) {
    animation-delay: 2s;
  }

  .particles-container span:nth-child(11) {
    animation-delay: 2s;
  }

  .particles-container span:nth-child(12) {
    animation-delay: 1s;
  }

  .particles-container span:nth-child(13) {
    animation-delay: 2s;
  }

  .particles-container span:nth-child(14) {
    animation-delay: 0.5s;
  }

  .particles-container span:nth-child(15) {
    animation-delay: 0.5s;
  }

  .particles-container span:nth-child(16) {
    animation-delay: 0.7s;
  }

  .particles-container span:nth-child(17) {
    animation-delay: 1.5s;
  }

  .particles-container span:nth-child(18) {
    animation-delay: 0.5s;
  }

  .particles-container span:nth-child(19) {
    animation-delay: 0.5s;
  }

  .particles-container span:nth-child(20) {
    animation-delay: 2s;
  }

  .particles-container span:nth-child(21) {
    animation-delay: 2.5s;
  }

  .particles-container span:nth-child(22) {
    animation-delay: 0.5s;
  }

  .particles-container span:nth-child(23) {
    animation-delay: 2.5s;
  }

  .particles-container span:nth-child(24) {
    animation-delay: 0.5s;
  }

  .particles-container span:nth-child(25) {
    animation-delay: 1.5s;
  }

  .particles-container span:nth-child(26) {
    animation-delay: 0.5s;
  }

  .particles-container span:nth-child(27) {
    animation-delay: 0.5s;
  }

  .particles-container span:nth-child(28) {
    animation-delay: 0.5s;
  }

  .particles-container span:nth-child(29) {
    animation-delay: 0.5s;
  }

  .particles-container span:nth-child(30) {
    animation-delay: 0.5s;
  }

  .particles-container span:nth-child(31) {
    animation-delay: 0.5s;
  }

  .particles-container span:nth-child(32) {
    animation-delay: 0.5s;
  }

  .particles-container span:nth-child(33) {
    animation-delay: 0.5s;
  }

  .particles-container span:nth-child(34) {
    animation-delay: 0.5s;
  }

  .particles-container span:nth-child(35) {
    animation-delay: 0.5s;
  }


  @media (max-width: 600px) {

    nav {
      padding: 25px;
      align-items: center;
    }
  
    .nav-links {
      gap: 32px;
    }
  
    .nav-links a {
      font-size: 0.90rem;
    }
  
    .social-links {
      gap: 32px;
      margin-left: auto;
    }
  
    .social-icon {
      width: 18px;
      height: 18px;
    }
    .hero-visual {
        position: relative;
        top: auto;
        right: auto;
        width: 100%;
        height: 200px;
        margin-top: 10px;
      }
    
      .portrait {
        width: 400px;
        height: auto;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
  
  
    .particles-container{
      width: 100%;
      height: 100%;
    }
  
    .particles span {
      width: 3px;
      height: 3px;
    }
  
    h1 {
      font-size: 1.40rem;
  
      padding-top: 18px;
      padding-left: 25px;
      padding-right: 25px;
    }
  
    h2 {
      font-size: 1.1rem;
  
      padding-top: 18px;
      padding-left: 25px;
      padding-right: 25px;
    }
  
    p {
      font-size: 0.9rem;
  
      padding-top: 20px;
      padding-left: 25px;
      padding-right: 25px;
  
      line-height: 24px;
    }
  
    .button {
      font-size: 1rem;
  
      padding: 10px 22px;
  
      margin-left: 37%;  
      margin-bottom: 4%;
      margin-top: 5%;
      border-radius: 8px;
    }
  }

  .portrait-about{
    top: 14%;
    left: 52%;
    position: absolute;
    width: min(650px, 100%);
    height: min(730px, 100%);

  }

  .about-title {
    font-family: Victor Mono, Arial, sans-serif;
    font-size: clamp(1rem, 3vw, 1.8rem);
    font-weight: 120;
    color: #FF8CAA;
    margin-left: 90px;
    margin-top: 5%;
}

.about-text {
    font-family: Victor Mono, Arial, sans-serif;
    font-size: 0.9rem;
    color: #D9D9D9;
    line-height: 34px;
    max-width: 650px;
    height: min(730px, 100%);
    margin-left: 90px;
    margin-top: 3%;
}

@media (max-width: 1000px) and (min-width: 601px) {

    .portrait-about {
        width: 45%;
        height: auto;
        left: 75%;
        top: 35%;
    }

    .about-title {
        margin-left: 60px;
        margin-top: 5%;
    }

    .about-text {
        max-width: 45%;
        margin-left: 75px;
        line-height: 28px;
    }

}

@media (max-width: 600px) {

    .portrait-about {
        position: static;
        display: block;
        width: 100%;
        max-width: 350px;
        height: auto;
        margin: 30px auto 0;
    }

    .about-title {
        font-size: 1.4rem;
        margin: 40px 25px 0;
    }


    .about-text {
        font-size: 0.9rem;
        line-height: 24px;
        max-width: none;
        margin: 20px 25px 40px;
    }

}

.ux-work {
    font-family: Victor Mono, Arial, sans-serif;
    font-size: clamp(1rem, 2.3vw, 1.3rem);
    font-weight: 12px;
    color: #FDDCE4;
    margin-left: 90px;
    margin-top: 3%;
}
.development-work {
    font-family: Victor Mono, Arial, sans-serif;
    font-size: clamp(1rem, 2.3vw, 1.3rem);
    font-weight: 12px;
    color: #FDDCE4;
    margin-left: 90px;
    margin-top: 5%;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    width: 80%;
    max-width: 1600px;
    margin: 50px auto;
}

.card {
    height: 400px;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}

.Digipay {
    background-image: url("Fintech project.svg");
}

.Fashionpub {
    background-image: url("Fashionpub project.svg");
}

.Paramount {
    background-image: url("Paramont project.svg");
}
.project-info {
    font-family: Manrope, Arial, sans-serif;
    color: white;
    font-size: clamp(0.7rem, 1vw, 1.4rem);
    opacity: 0;
    text-align: center;
    margin-bottom: 30px;
    transition: opacity 0.3s ease;
}

.overlay {
    position: absolute;
    inset: 0;

    display: flex;
    justify-content: center;
    align-items: flex-end;

    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.card:hover .overlay {
    opacity: 1;
}

.card:hover .project-info {
    opacity: 1;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    width: 90%;
    max-width: 1500px;
    margin: 50px auto;
}
@media (max-width: 600px) {
    .projects-grid {
        grid-template-columns: 1fr;
    }
    .development-work {
        text-align: center;
        margin-left: 0;
        margin-right: 0;
        margin-top: 5%;
      }
}
footer {
    display: flex;
    justify-content: flex-end;
    
    font-family: Manrope, Arial, sans-serif;
    color: white;
    font-size: clamp(0.5rem, 0.9vw, 1rem);

    padding: 20px 80px;
}